@use "../mixins/" as *;
@use "../abstracts/breakpoints" as *;

.ready {
  @include layout-constrain;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 5.25rem;

  @media (max-width: $bp-5) {
    flex-direction: column;
  }

  &__heading {
    font-size: var(--fs-5);
    color: var(--color-blue-2);

    @media (max-width: $bp-5) {
      margin-bottom: 1.5rem;
    }
  }
}
